.circle-btn{
    font-size: 2em;

}
.btn-add{
    font-size: 0.8em;
    margin: 0;
}
.form-control{
    margin-top: 5px;
    margin-right: 5px;
}
form {
    margin-left: 10px;
    margin-right: 10px;
}
