.container{
    width: 40%;
    margin:0 auto;
    max-width: 500px;
    border-radius: 10px;
    border:1px solid black;
    box-shadow: black;
}
.container h1{
    text-align: center;
}
.col-sm-2{
    margin-right: 5px;
}
.btn{
    margin-top: 5px;
}
.btn-primary{
    margin-left: 15px;
}
